*{
    margin: 0px;
}
.img{
    height: 150px;
    width: 230px;
    margin: auto 25px;
    box-shadow: 0 2px 0 2px aqua;
    padding: 10px;
}
.car-card{
    width :300px;
    margin-top:15px;
    margin: 9px;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow:  0 0  10px #ccc;

}
.car-name{
text-align: center;
margin-top: 5px;
}
.title{
    text-align: center;
}
.discription{
    text-align: center;
}